{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>


{{/each}}
<h1>Criar categoria</h1>
<div class="card">
    <div class="card-body">
        <form action="/admin/categorias/nova" method="POST">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome da categoria">
            <label for="slug" class="form-label">Slug</label>
            <input type="text" class="form-control" id="slug" name="slug" placeholder="Slug da categoria">
            <button type="submit" class="btn btn-success mt-4">Criar categoria</button>
        </form>
    </div>
</div>

